body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 h1 {
    text-align: center;
 }

table, th, td {
    border: 1px solid #000;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.5rem;
}

caption {
    text-align: start;
    font-family: monospace;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

th {
    background-color: #0e2cd4be;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #8ca6bfa6;
}

tbody tr:nth-child(even) {
    background-color: #76cde7a6;
}

tbody tr td:nth-child(2) {
    background-color: #28cfcfc4;
    text-transform: uppercase;
    font-weight: 700;
}

tfoot td {
    font-weight: 700;
}

/*

tbody tr {
    background-color: antiquewhite;
}

tbody tr:first-child {
    background-color: aquamarine;
}

tbody tr:nth-child(3) {
    background-color: burlywood;
}

tbody tr:nth-child(2n+1) {
    background-color: chartreuse;
}

*/